.profile-search-container {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.profile-form-container {
  padding: 58px 30px;
  border-radius: 16px;
  background-color: var(--soft-blue);
}
.profile-search-container h1 {
  font-weight: 500;
  font-size: 38px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.search-input {
  margin-bottom: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 8px 20px;
  width: 300px;
}

.search-input::placeholder {
  color: #bfbfbf;
}

.search-button {
  width: 101px;
  height: 40px;
}
